/*This is CSS for web page with bycicle*/
/*My custom reset*/
* {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*Styling*/
html {
    background-color: #f9f9f9;
}
.container {
    margin: auto;
    padding: 45px;
    width: 960px;
    height: 950px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px #dbdbdb;
    font-family: 'Open Sans', sans-serif;
}
/*HEADER*/
header nav {
    display: block;
    margin: 40px auto;
    height: 40px;
    background: linear-gradient(to bottom,  #5e5e5e, #444343);
}
ul li {
    display: inline-block;
}
header ul li a {
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    text-shadow: 2px 2px 2px #000000;
}
header ul li:first-child {
    padding: 0 65px 0 25px;
}
header ul li:nth-child(2) {
    padding: 0 25px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: linear-gradient(to bottom,  #4a4a4a, #2e2e2e);
}
header ul li:nth-child(3),
header ul li:last-child {
    padding: 0 25px 0 65px; 
}
/*ASIDE MENU*/
section {
    height: 638px;
}
aside {
    float: left;
    width: 238px;
    height: 238px;
    border: 1px solid #c8c8c8;
}
aside li {
    display: block;
    height: 39px;
    border-bottom: 1px solid #c8c8c8;
/*    line-height: 38px;*/
}  
aside a {
    padding-left: 23px;
    display: block;
    line-height: 38px;
    font-size: 13px;
    color: #656363;  
}
aside ul li:nth-child(3),
aside a:active {
    padding-left: 35px;
    color: #2c2c2c;
    background-color: #f9f9f9;
}
aside li:last-child {
    border: none;
}
/*ARTICLE*/
.content {
    float: right;    
}
.content div {
    width: 676px;    
}
.content div:first-child {
    border: 1px solid #c8c8c8;
}
.content img {
    margin: 44px 88px;
}
.content p {
    margin: 40px 24px 0 24px;
    color: #2c2c2c;
    font-size: 13px;
    line-height: 24px;
}
/*FOOTER*/
footer {
    clear: both;
    margin-top: 20px;
}
footer nav {
    display: block;
    margin: 40px auto;
    height: 40px;
    background-color: #e1e1e1;
}
footer ul li a{
    color: #2c2c2c;
    line-height: 40px;
    font-size: 14px;
}
footer ul li:first-child {
    padding: 0 65px 0 25px;
}
footer ul li:nth-child(2) {
    padding: 0 25px;
    text-decoration: underline;
}
footer ul li:nth-child(3),
footer ul li:nth-child(4) {
    padding: 0 25px 0 65px; 
}
footer ul li:last-child {
    margin-left: 220px;
}