/*This is CSS for web page with bycicle*/
/*My custom reset*/
* {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*Styling*/
html {
    background-color: #f9f9f9;
}
.container {
    margin: auto;
    padding: 45px;
    width: 960px;
    height: 950px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px #dbdbdb;
    font-family: 'Open Sans', sans-serif;
}
/*HEADER*/
header nav {
    display: block;
    margin: 40px auto;
    height: 40px;
    background: linear-gradient(to bottom,  #5e5e5e, #444343);
}
ul li {
    display: inline-block;
}
header ul li a {
    display: block;
    color: #ffffff;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    line-height: 40px;
    font-size: 14px;
    text-shadow: 2px 2px 2px #000000;
}
header ul li a:hover {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: linear-gradient(to bottom,  #4a4a4a, #2e2e2e);
}
header ul li a,
footer ul li a {
   padding: 0 65px 0 65px;  
}
header ul li:first-child a,
footer ul li:first-child a {
    padding: 0 65px 0 25px;
}

/*ASIDE MENU*/
section {
    height: 638px;
}
aside {
    float: left;
    width: 238px;
    height: 238px;
    border: 1px solid #c8c8c8;
}
aside li {
    display: block;
    height: 39px;
    border-bottom: 1px solid #c8c8c8;
/*    line-height: 38px;*/
}  
aside li a {
    padding-left: 23px;
    display: block;
    line-height: 38px;
    font-size: 13px;
    color: #656363;  
}
aside li a:hover {
    padding-left: 35px;
    color: #2c2c2c;
    background-color: #f9f9f9;
}
aside li:last-child {
    border: none;
}
/*ARTICLE*/
.content {
    float: right;    
}
.content div {
    width: 676px;    
}
.content div:first-child {
    border: 1px solid #c8c8c8;
}
.content img {
    margin: 44px 88px;
}
.content p {
    margin: 40px 24px 0 24px;
    color: #2c2c2c;
    font-size: 13px;
    line-height: 24px;
}
/*FOOTER*/
footer {
    clear: both;
    margin-top: 20px;
}
footer nav {
    display: block;
    margin: 40px auto;
    height: 40px;
    background-color: #e1e1e1;
}
footer ul li a{
    display: block;
    color: #2c2c2c;
    line-height: 40px;
    font-size: 14px;
}
footer ul li a:hover {
    text-decoration: underline;
    background-color: #c8c8c8;
}
/* LISTED PROPERTIES in header, 
                    see the code above "header ul li a"
footer ul li:first-child a {
    padding: 0 65px 0 25px;
}
footer ul li:nth-child(2) a,
footer ul li:nth-child(3) a,
footer ul li:nth-child(4) a {
    padding: 0 65px 0 65px; 
}
*/
footer ul li:last-child{
    float:right;
    margin-right: 25px;
    font-size: 14px;
    line-height: 40px;
}